html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  color: #222;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  margin: 0;
}

::-webkit-scrollbar {
  width: 2rem;
}

::-webkit-scrollbar-track {
  background: #113153;
}

::-webkit-scrollbar-thumb {
  background: #1c83f1;
}

/** Globales **/
.contenedor {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contenedor {
    width: 90%;
  }
}

.seccion {
  padding: 3rem 0 3rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
  font-family: "cinzelregular";
  text-align: center;
  text-transform: uppercase;
  color: #1c83f1;
}

h3 {
  font-size: 3.2rem;
  font-family: "grupporegular";
}

h4 {
  font-size: 2.8rem;
}

p {
  font-family: "dubairegular";
  font-size: 2rem;
}

@media (min-width: 992px) {
  p {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 2.8rem;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/** Utilidades **/
.centrar-texto {
  text-align: center;
}

.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-fe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-sa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-se {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.no-margin {
  margin: 0;
}

.btn {
  background-color: #264f7b;
  padding: 1rem 4rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 2rem;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 0.2rem solid;
}

.btn:hover {
  background-color: #113153;
}

.btn.hollow,
.btn.hollow:hover {
  background-color: #fff;
  color: #264f7b;
}

.btn.transparente {
  background-color: transparent;
}

.btn.transparente:hover {
  background-color: #113153;
  border: 0.2rem solid #113153;
}

.site-header {
  background-image: url(../img/derecha-crop.jpg);
  background-size: cover;
  background-position: center right;
  height: 100vh;
  position: relative;
}

@media (min-width: 768px) {
  .site-header {
    background-image: url(../img/centro.jpg);
    background-position: top center;
    height: 92.5vh;
  }
}

.titulo {
  padding: 2rem;
  position: relative;
  margin: 0 auto;
  max-width: 75rem;
}

@media (max-width: 768px) {
  .titulo::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .navegacion {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    bottom: -7.5vh;
    background-color: #264f7b;
    border-top: 1rem solid #264f7b;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
  }
}

.navegacion a {
  color: #000;
  text-decoration: none;
  font-family: "cinzelregular";
  max-width: 30rem;
  font-size: 2rem;
  display: block;
  font-weight: bold;
  line-height: 1.5;
  padding: 1rem 2rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (min-width: 480px) {
  .navegacion a {
    font-size: 2.8rem;
    max-width: 35rem;
  }
}

@media (min-width: 768px) {
  .navegacion a {
    color: #fff;
    font-size: 2.2rem;
    -ms-flex-preferred-size: calc(25%);
        flex-basis: calc(25%);
    text-align: center;
    height: 100%;
  }
  .navegacion a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 992px) {
  .navegacion a {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .navegacion a {
    font-size: 3rem;
  }
}

.sobre-sebastian {
  top: 10vh;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.sobre-sebastian h2 {
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2rem;
  color: #113153;
}

.contenido-sebastian {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .contenido-sebastian {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contenido-sebastian .imagen {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 100%;
  width: 50%;
  text-align: center;
}

.contenido-sebastian .imagen img {
  border: 0.5px solid #113153;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.808);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.808);
}

.contenido-sebastian .texto-sebastian {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: justify;
  padding: 0 4rem;
}

@media (min-width: 768px) {
  .contenido-sebastian .texto-sebastian {
    padding: 0;
  }
}

.contenido-sebastian .texto-sebastian p {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .contenido-sebastian .texto-sebastian p {
    font-size: 2.5rem;
  }
}

.contenido-sebastian .texto-sebastian span {
  color: #264f7b;
}

.preguntas {
  position: relative;
}

.preguntas::after {
  content: "";
  background-image: url(../img/preguntas.jpg);
  background-size: cover;
  background-position: bottom center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: sepia(0.6);
          filter: sepia(0.6);
  z-index: 5;
}

.preguntas .contenedor-preguntas-oscuro::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.83);
  z-index: 7;
}

.preguntas .contenido-preguntas {
  position: relative;
  z-index: 10;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: sepia(0);
          filter: sepia(0);
}

.preguntas .contenido-preguntas h3 {
  color: #1c83f1;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.texto-der,
.texto-izq {
  width: 70%;
  margin-bottom: 4rem;
}

@media (min-width: 1200px) {
  .texto-der,
  .texto-izq {
    width: 75%;
  }
}

.texto-der:last-of-type,
.texto-izq:last-of-type {
  margin-bottom: 0;
}

.texto-der::after,
.texto-izq::after {
  content: "";
  display: block;
  width: 30%;
  height: .2rem;
  position: absolute;
  background-color: #fff;
  margin: 3rem 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 768px) {
  .texto-der::after,
  .texto-izq::after {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .texto-der:nth-child(2)::after,
  .texto-izq:nth-child(2)::after {
    right: 0;
    left: auto;
  }
}

.texto-der:last-of-type::after,
.texto-izq:last-of-type::after {
  display: none;
}

@media (max-width: 768px) {
  .texto-der h3,
  .texto-izq h3 {
    text-align: center;
  }
}

.texto-der p,
.texto-izq p {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .texto-der p,
  .texto-izq p {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .texto-der {
    text-align: right;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .texto-izq {
    text-align: left;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.programa {
  position: relative;
  margin-bottom: 8rem;
}

.programa .contenedor-video {
  max-width: 100%;
  overflow-x: hidden;
}

.programa .contenido-programa {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-bottom: 8rem;
}

.programa h2 {
  text-transform: uppercase;
}

.programa h2::after {
  content: "";
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 3rem;
  width: 10rem;
  display: block;
}

.programa-evento {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  margin-top: 8rem;
}

@media (min-width: 768px) {
  .programa-evento {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .programa-evento {
    width: 50%;
  }
}

.programa-evento .menu-programa {
  width: 100%;
  border-bottom: 1px solid #264f7b;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .programa-evento .menu-programa {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.programa-evento .menu-programa a {
  display: block;
  text-align: center;
  color: #000;
  font-size: 1.8rem;
  text-decoration: none;
  font-family: "cinzelregular";
  margin-bottom: 1rem;
}

.programa-evento .menu-programa a i {
  color: #264f7b;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.programa-evento .detalle-evento {
  margin-top: 2rem;
  border-bottom: 1px solid #000;
  padding: 0 2rem;
}

.programa-evento .detalle-evento:last-of-type {
  border-bottom: none;
}

.programa-evento .detalle-evento p {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.programa-evento .detalle-evento i {
  color: #264f7b;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.lista-invitados {
  margin-top: 8rem;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

@media (min-width: 480px) {
  .lista-invitados {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .lista-invitados {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.lista-invitados .invitado {
  position: relative;
  overflow: hidden;
}

.lista-invitados .invitado img {
  max-height: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.lista-invitados .invitado p {
  margin: 0;
  position: absolute;
  bottom: 1rem;
  left: 0;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "adventproregular";
  width: 100%;
  color: #1c83f1;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.lista-invitados .invitado:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.lista-invitados .invitado:hover p {
  left: -8rem;
  bottom: -1rem;
  opacity: 0;
}

.precios {
  padding: 3rem 0 6rem;
  background-color: #f0f0f0;
}

@media (min-width: 768px) {
  .lista-precios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.lista-precios > li {
  padding: 1rem;
}

@media (min-width: 768px) {
  .lista-precios > li {
    -ms-flex-preferred-size: calc(33.3% - 0.5rem);
        flex-basis: calc(33.3% - 0.5rem);
  }
}

.tabla-precio {
  border: 1px solid #e1e1e1;
  background-color: #fff;
  padding: 4rem 1rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  height: 100%;
}

.tabla-precio:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 0.1rem solid #264f7b;
  -webkit-box-shadow: 0 0 20px #666;
          box-shadow: 0 0 20px #666;
}

.tabla-precio h3 {
  font-size: 3rem;
  text-transform: uppercase;
  max-width: 25rem;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .tabla-precio h3 {
    font-size: 3.3rem;
  }
}

.tabla-precio ul li {
  font-family: "grupporegular";
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #868686;
  text-align: center;
  line-height: 2.6rem;
}

.tabla-precio ul li::before {
  font-family: "Fontawesome";
  display: inline-block;
  vertical-align: center;
  padding: 0.5rem;
  font-size: 2rem;
  color: green;
  -webkit-font-smoothing: antialiased;
  content: "\f00c";
}

.tabla-precio .numero {
  font-family: "cinzelregular";
  color: #000;
  margin-top: 2rem 0;
}

.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.contador {
  position: relative;
  height: auto;
}

.contador::before {
  background-image: url(../img/bg-resumen.jpg);
  background-position: bottom center;
  content: "";
}

.resumen-evento {
  position: relative;
  padding: 12rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resumen-evento li {
  width: 50%;
  color: #fff;
  text-transform: uppercase;
  font-family: "grupporegular";
  font-size: 2.4rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .resumen-evento li {
    width: calc(25% - 1rem);
  }
}

.numero {
  line-height: 1.5;
  color: #1c83f1;
  font-size: 8rem;
  display: block;
  margin: 0 0 1rem 0;
}

.mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mapa {
  height: 60rem;
}

.testimoniales {
  padding-bottom: 2rem;
  margin-top: 3rem;
}

@media (min-width: 992px) {
  .testimoniales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.testimonial {
  -ms-flex-preferred-size: calc(33.3% - 1rem);
      flex-basis: calc(33.3% - 1rem);
  padding: 0.5rem;
}

.testimonial blockquote {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  position: relative;
  margin: 0 0 1rem 0;
  padding-bottom: 2rem;
}

.testimonial blockquote p {
  text-align: justify;
  font-size: 1.8rem;
  font-family: "PT Sans", sans-serif;
  padding: 1rem 2rem 0 6.5rem;
}

.testimonial blockquote p::before {
  content: "\201c";
  position: absolute;
  left: 1.3rem;
  top: 2rem;
  font-size: 10rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #264f7b;
}

.info-testimonial {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.info-testimonial img {
  width: 30%;
  border-radius: 50%;
  margin-left: 2rem;
}

.info-testimonial cite {
  width: 66.6%;
  text-align: center;
  color: #264f7b;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "cinzelregular";
  font-style: normal;
  padding: 0 1rem;
}

.info-testimonial cite span {
  color: #000;
  text-transform: none;
  text-align: left;
  font-weight: normal;
}

.newsletter {
  position: relative;
  height: auto;
}

.newsletter::before {
  background-image: url(../img/bg-newsletter.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  content: "";
}

.newsletter .contenido {
  padding: 10rem 0;
  color: #fff;
  text-align: center;
  position: relative;
}

.newsletter .contenido p {
  font-size: 3rem;
}

.newsletter .contenido h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .newsletter .contenido h3 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .newsletter .contenido h3 {
    font-size: 6rem;
  }
}

.cuenta-regresiva {
  text-align: center;
  text-transform: uppercase;
}

.cuenta-regresiva .lista-cuenta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 5rem;
}

.cuenta-regresiva .lista-cuenta li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
}

@media (min-width: 768px) {
  .cuenta-regresiva .lista-cuenta li {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.cuenta-regresiva .lista-cuenta li .numero {
  font-size: 8rem;
}

.site-footer {
  background-color: #121212;
  padding-top: 4rem;
  margin-top: 2rem;
}

.site-footer .contenedor {
  color: #fff;
  padding: 0 2rem;
  font-size: 2rem;
  text-align: justify;
}

@media (min-width: 768px) {
  .site-footer .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-footer .contenedor .footer-informacion,
  .site-footer .contenedor .ultimos-tweets {
    -ms-flex-preferred-size: calc(35% - 4rem);
        flex-basis: calc(35% - 4rem);
  }
  .site-footer .contenedor .menu {
    -ms-flex-preferred-size: calc(30%);
        flex-basis: calc(30%);
  }
}

@media (min-width: 1200px) {
  .site-footer .contenedor .footer-informacion,
  .site-footer .contenedor .ultimos-tweets {
    -ms-flex-preferred-size: calc(40% - 4rem);
        flex-basis: calc(40% - 4rem);
  }
  .site-footer .contenedor .menu {
    -ms-flex-preferred-size: calc(20%);
        flex-basis: calc(20%);
  }
}

@media (max-width: 768px) {
  .site-footer .contenedor .footer-informacion,
  .site-footer .contenedor .ultimos-tweets {
    border-bottom: 1px solid #1c83f1;
    padding-bottom: 4rem;
  }
}

.site-footer .contenedor .menu,
.site-footer .contenedor .footer-informacion,
.site-footer .contenedor .ultimos-tweets {
  margin-bottom: 5rem;
}

.site-footer .contenedor .redes-sociales {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .site-footer .contenedor .redes-sociales {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.site-footer .contenedor .redes-sociales a {
  color: #fff;
  font-size: 5rem;
}

.site-footer .contenedor .redes-sociales a:hover {
  color: #1c83f1;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (min-width: 768px) {
  .site-footer .contenedor .redes-sociales a {
    font-size: 4rem;
  }
}

.site-footer .contenedor span {
  color: #1c83f1;
}

.site-footer .contenedor h3 {
  color: #fff;
  text-align: center;
}

.copy {
  background-color: #2e2e2e;
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 2rem;
  padding: 3rem;
}

.copy span {
  color: #1c83f1;
}
/*# sourceMappingURL=styles.css.map */